body{
    background-color: #6B029C;
}
.search-bar{
   width: fit-content;
   margin: auto;
}
#search-bar{
    width: 200px;
    height: 30px;
    background-color: #9E4EC2;
    color: black;
    border: 2px solid #9E4EC2;
    border-bottom: 2px solid orange;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 30px;
    font-size: 20px;
    opacity: 0.8;
}
.city{
    width: fit-content;
    margin: auto;
    margin-top: 40px;
    color: white;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.date{
    width: fit-content;
    margin: auto;
    margin-top: 2px;
    color: white;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.8;
}
.temp{
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    color: white;
    font-size: 100px;
    font-weight: 600;
    text-shadow: 5px 3px black;
}
.weather{
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    color: white;
    font-size: 35px;
    font-family: cursive;
}
.hi-low{
    width: fit-content;
    margin: auto;
    margin-top: 4px;
    color: white;
    font-size: 25px;
}
#search-bar:focus{
    outline: none;
}
#search-bar::placeholder{
    color: black;
}